* {
    font-family: 'Nunito Sans';

}

header {
    background-image: url(https://cdn.xxl.thumbs.canstockphoto.com.br/alimento-doce-experi%C3%AAncia-marshmallows-close-up-padr%C3%A3o-colorido-sobremesa-largo-fundo-banco-de-fotos_csp87242735.jpg);
    background-color: #f3ebeb0c;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    /* padding: 1em 0; */
    height: 17vh;
    border: 1px solid #e6c6dca4;
}

.smoke{
    background: #e6c6dc6c;
    height: 17vh;
    
}
.smoke h2{
    position: relative;
    top: 3vh;
}
.smoke h1{
    position: relative;
    top:6vh;
}

main {
    text-align: center;
    background-color: #fcfcfc85;
    height: 100vh;
}

section figure img {
    border-radius: 50%;
    width: 144px;
    height: 144px;
}

figure {
    padding: 35px;
}

figcaption {
    font-weight: 600;
    font-size: 20px;
    color: #5C5C5C;
}

ul {
    margin: 0 auto;
    width: 30%;
}

li {
    background: #faf62177;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 32px 0px 0px;
    padding: 19px 0;
    margin: 16px 0; 
}

li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}