
section{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
   
    
}

img{
    border-radius: 50%;
    width: 20%;
}

figcaption{
    color: rgb(104, 101, 101);
    font-size: 120%;
}

@media (max-width: 480px){
    img{
        min-width: 50%;
    }
}